*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
a , button {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.amazingui {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 2rem;
    line-height: 3rem;
    letter-spacing: 3px;
}

.hidden {
    display: none;
}

.container {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0 auto;
    max-width: 300px;

}

.container h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 2rem;
    line-height: 3rem;
    letter-spacing: 3px;
    color: lightyellow;
    border-top: 1px solid lime;
    border-bottom: 1px solid lime;
    margin: 2rem auto;
}

.container li {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
    color: lime;
    margin: auto 10px;
    transition: all 0.2s;
    
}

.container li:hover {
    
    border-bottom: 0.5px solid lime;
    border-top: 0.5px solid lime;
    border-left: 1px solid lime;
    border-right: 1px solid lime;
    transform: scale3d(1.2, 1.2, 1.2);
    
    
}